---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import About from "../../components/About.astro";
import Services from "../../components/Services.astro";
import ServiceDetailOne from "../../components/ServiceDetailOne.astro";
import ServiceDetailTwo from "../../components/ServiceDetailTwo.astro";
import ServiceDetailThree from "../../components/ServiceDetailThree.astro";
import ServiceDetailFour from "../../components/ServiceDetailFour.astro";
import Contact from "../../components/Contact.astro";
---

<Layout title="Zenvik | Digital Solutions">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Services />
    <ServiceDetailOne />
    <ServiceDetailTwo />
    <ServiceDetailThree />
    <ServiceDetailFour />
    <Contact />
  </main>
</Layout>
