---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import AboutAndServices from "../components/AboutAndServices.astro";
import ServiceDetailOne from "../components/ServiceDetailOne.astro";
import ServiceDetailTwo from "../components/ServiceDetailTwo.astro";
import ServiceDetailThree from "../components/ServiceDetailThree.astro";
import ServiceDetailFour from "../components/ServiceDetailFour.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Zenvik | Soluciones Digitales">
  <Navbar />
  <main>
    <Hero />
    <AboutAndServices />
    <ServiceDetailOne />
    <ServiceDetailTwo />
    <ServiceDetailThree />
    <ServiceDetailFour />
    <Contact />
  </main>
</Layout>
